import riot from 'riot'
import Fyler from '../../js/Fyler'
import prism from '../../style/prism.css' 
import StoreWatcher from '../../../event-manager/mixins/storex' 
require('./app-image.html') 
require('./app-home.html') 
require('./app-side-nav.html')
<app-container>
    <link href="/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <style>
    pre: {
        position: relative;
        font-size: 14px;
        background-color: black;
        text-decoration-color: yellow;
    }

    main {
        overflow-x: hidden;
    }

    header {
        height: 0px;
        overflow-x: hidden;
    }

    
    .hidden {
        display: none;
    }
   
    @media only screen and (min-width: 992px){
        main {
            margin-left: 17%;
        }

        .page-footer {
            margin-left: 17%;
        }
        
    }
    </style>
    <header>
        <app-side-nav data={passed_data}></app-side-nav>
    </header>
    <main>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <h1 class="header center-on-small-only">Materialize</h1>
                <div class="row center">
                    <h4 class="header col s12 light center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                </div>
                <div class="row center">
                    <a href="/getting-started.html" id="download-button" class="btn-large waves-effect waves-light">Get Started</a>
                </div>
                <div class="row center"><a class="red-text text-lighten-4" href="https://github.com/Dogfalo/materialize">alpha release v0.97.6</a></div>
            </div>
        </div>
        <div class="main-container">
            <app-home></app-home>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente iste laboriosam debitis tenetur. Sed nisi provident obcaecati quod odit, commodi nulla quidem corporis ex natus, est incidunt quaerat explicabo debitis.</p>
                </div>
                <div class="col l4 s12" style="overflow: hidden;">
                    <h5 class="white-text">Connect</h5>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014-2016 Materialize, All rights reserved.
                <a class="grey-text text-lighten-4 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>
            </div>
        </div>
    </footer>
    <script>
    let self = this
        // for validations
        //  - add a validationform
        //  - add a validate function in the handlers['<tag-name>'] section to set result
        //                into state.<store>.<validationform>.validated property
    self.stores = ['fyler'] // stores to watch
    self.validationform = [] // validation form . this will have validated field

    let mixin = self.mixin(StoreWatcher)

    self.passed_data = {
      menu_config: [{
        type: 'search'
      }, {
        label: 'image',
        link: '/view/greater/app-container/fyler/dev.html?target=.main-container&fragment=appbrowser',
        type: 'image',
        data: {
          type: 'image/svg+xml',
          src: '/images/materialize.svg',
          as: 'object'
        }
      }, {
        label: 'Clearance Sale',
        link: '/?page=appbrowser&target=.main-container&fragment=appbrowser',
        type: 'text'
      }, {
        label: 'electronics',
        type: 'array',
        data: [{
          label: 'mobiles',
          link: '/?page=appbrowser&target=.main-container&fragment=appbrowser'
        }, {
          label: 'TVs et al',
          link: '/?page=appbrowser&target=.main-container&fragment=appbrowser'
        }, {
          label: 'Digital Cameras',
          link: '/?page=appbrowser&target=.main-container&fragment=appbrowser'
        }]
      }, {
        label: 'Fashion',
        type: 'array',
        data: [{
          label: 'Mens',
          link: '/?page=appbrowser&target=.main-container&fragment=appbrowser'
        }, {
          label: 'Women',
          link: '/?page=appbrowser&target=.main-container&fragment=appbrowser'
        }, {
          label: 'Kids',
          link: '/?page=appbrowser&target=.main-container&fragment=appbrowser'
        }, {
          label: 'Special ocassions',
          link: '/?page=appbrowser&target=.main-container&fragment=appbrowser'
        }]
      }]
    }

    self._.navTo = function (targetUri) {
      if (targetUri.indexOf('target') !== -1) {
        let extraParams = {domain: '', page: '', view: '', target: '', fragment: ''}
        var replaced = targetUri.slice(1)
        var arr = replaced.split('&')
        for (var i = arr.length - 1; i >= 0; i--) {
          if (arr[i].split('=') && arr[i].split('=').length === 2) {
            var keyValArr = arr[i].split('=')
            extraParams[keyValArr[0]] = keyValArr[1] || ''
          }
        }
        let options = {
          domain: extraParams.domain,
          page: extraParams.page
        }
        require('./' + extraParams.fragment + '.html')
        riot.mount(extraParams.target, extraParams.fragment, options)
      } else {
        document.location.href = targetUri
      }
    } 
    </script>
</app-container>
