import riot from 'riot'
import Fyler from '../js/Fyler'

<fylerclient>
  <section>
    	
		<div>
			<p>request JSON is</p>
			<code>{request}</code>
		</div>
		<div if={response}>
			<p>response is</p>
			<code>{response}</code>
		</div>	
		<div if={err}>Error is </p>
			<code>{err}</code>
		</div>	
  </section>
  <script>
    let self = this;
    let original_json = {'my_name': 'saurshaz'}

    var requestjson = {
      'config': {
        'how': 'sync',
        'where': 'server',
        'lookat': 'context'
      },
      'commands': [ {
        'what': 'utils',
        'handler': 'echo',
        'input': original_json
      } ]
    }
    self.request = JSON.stringify(requestjson)
    Fyler.run(requestjson, function (err,res) {
    	self.response = res
    	self.err = (typeof err != 'string') ? JSON.stringify(err)  : err 
    	self.update()
    })
  </script>
</fylerclient>
