import riot from 'riot'
import Fyler from '../js/Fyler'

<fylerclient>
    <style>
      pre : {
            position: relative;
           font-size: 14px;
           background-color: black;
           text-decoration-color: yellow;
      }
    </style>	
  <section>
		<div class='jsonrender'>
			<p>request JSON is</p>
			<pre>{request}</pre>
		</div>
		<div if={response} class='jsonrender'>
			<p>response is</p>
			<pre class='jsonrender'>{response}</pre>
		</div>	
		<div if={err} class='jsonrender'>Error is </p>
			<pre class='jsonrender'>{err}</pre>
		</div>	
    <button onclick={makeCall}>Make Call</button>
  </section>
  <script>
    let self = this;
    let original_json = {'my_name': 'saurshaz'}

    var requestjson = {
      'config': {
        'how': 'sync',
        'where': 'server',
        'lookat': 'context'
      },
      'commands': [ {
        'what': 'utils',
        'handler': 'echo',
        'input': original_json
      } ]
    }
    self.request = JSON.stringify(requestjson, null, 4)

    self.on('mount',function(){

    })
    
    makeCall(){
      Fyler.run( requestjson, function (err, res) {
      	self.response = JSON.stringify(res, null, 4)
      	self.err = (typeof err != 'string') ? JSON.stringify(err)  : err 
      	self.update()
      })
    }
  </script>
</fylerclient>
