<!--1st change -->
<!doctype html>
<html>

<head>
    <title>Welcome</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <!-- CSS-->
    <link href="http://materializecss.com/css/prism.css" rel="stylesheet">
    <link href="http://materializecss.com/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="parallax-demo">
    <div id="superapp" style="margin: 0;padding: 0;padding-bottom: 20;">
        <div id="headertag"></div>
        <!-- APP LOADS HERE -->
        <div id="app" style="margin: 0;padding: 0;padding-bottom: 20;">
        </div>
        <div id="footertag"></div>
        <!-- <div class="parallax-container">
            <div class="parallax"><img src="http://materializecss.com/images/parallax2.jpg"></div>
        </div> -->
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
    </script>
    <script src="/scripts/socket.io.js"></script>
    <script src="http://datejs.googlecode.com/svn/trunk/build/date.js"></script>
    <script>
    if (!window.jQuery) {
        document.write('<script src="http://materializecss.com/bin/jquery-2.1.1.min.js"><\/script>');
    }
    </script>
    <!-- <script src="/assets/main.js"></script> -->
    <script src="{{STATIC_RESOURCES_SERVER_ADDRESS}}/main.js"></script>
    <script src="http://materializecss.com/js/jquery.timeago.min.js"></script>
    <script src="http://materializecss.com/js/prism.js"></script>
    <script src="http://materializecss.com/jade/lunr.min.js"></script>
    <script src="http://materializecss.com/jade/search.js"></script>
    <script src="http://materializecss.com/bin/materialize.js"></script>
    <script src="http://materializecss.com/js/init.js"></script>
</body>

</html>
