var riot = require('riot')
var EVT = require('../state-manager/event_constants')
<!-- var EventsMixin = require('../../../public/lib/events-mixin')  -->
var AppActions = require('../state-manager/actions') 
var AppStores = require('../state-manager/stores') 
import EventsMixin from '../js/mixins/events-mixin'

<appbrowser header='false' nofooter='false'>
    <link href="http://materializecss.com/css/prism.css" rel="stylesheet">
    <link href="http://materializecss.com/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <section>
    <style>
      .container {
        width: 450px;
        height: 400px;
      }

      #selectedAppDiv {
        margin:5vh;
        padding: 2vh;
        width: 100%;
      }

      #selectAppDiv {
        margin:5vh;
        padding: 2vh;
        width: 100%;
      }
      
      #createAppDiv {
        position: relative;
        z-index: 11111;
        top: 20%;
        margin-left: 5vh;
        padding: 2vh;
        width: 100%;
      }

      #appMessageDiv {
        z-index: 11;
        top: 30%;
        margin-left: 5vh;
        padding: 2vh;
        width: 100%;
        position: absolute;
      }

      

      #createAppBtn {
        margin-top:5vh;
      }
      
    </style>

    <div class="section white container" id="container-app" style="margin: 0;padding: 0;padding-bottom: 20;">
      <div>
        
        <div id='selectAppDiv'>
          <!-- Dropdown Trigger -->
          <span><button id='existingAppBtn' class='dropdown-button btn' data-activates='app-selector'>My Apps</button>
            </span>
          <span><button id='createAppBtn' class='btn' onclick={processAppCreate}>Create App</button></span>
        </div> 

        <!-- Dropdown Structure -->
        <ul id='app-selector' class='dropdown-content'>
          <li each={ app_items }>
            <a href="#!" data-appid={app_id} onclick={processAppSelect}>{app_name}</a>
          </li>
        </ul>


        <div id='createAppDiv'>
          <input id='createAppInput' class='input' placeholder="New App name"/>
          <button id='createRollbackAppBtn' class='btn' onclick={resetAppCreate}>Reset</button>
          <button id='createConfirmAppBtn'class='btn' onclick={submitAppCreate}>Submit</button>
        </div>  
  
        <div id='appMessageDiv'>
          <div>
            User auth status is {authstatus}
          </div>
          <div if={created_app_name || selected_app_name}>
            <p>App is <a href='#!app?app_id={selected_app || created_app}'>{selected_app_name || created_app_name}</a></p>
            <button class='btn' data-app_id='{selected_app || created_app}' data-app_name='{created_app_name || selected_app_name}'  onclick={deleteApp}>Delete App</button>
            <button class='btn' data-app_id='{selected_app || created_app}' data-app_name='{created_app_name || selected_app_name}'  onclick={goToApp}>Select App</button>
          </div>
        </div>
      </div>    
    </div>
  </section>
  <script src='client/js/state/appbrowser.js' type="es6"></script>
</appbrowser>
