'use strict'

import riot from 'riot'

import handlers from '../event-manager/handlers'
import events from '../event-manager/events'
import store from '../event-manager/store'
import PubSub from '../../public/scripts/pubsub.js'

<header>
    <div class="section top-nav fixed" style="    margin-left: 15%;">
      <nav id="messageSection">
      <p style="margin-left:5%;float:left;margin-bottom:15%;margin-top:0;">Config based event-manager in action</p>
      <p style="margin-right:5%;float:right; background-color:yellow;margin-bottom:15%;margin-top:0%;">Me  {_.user.authStatus}</p>
      </nav>
    </div>
    <script>
      let self = this
      self.state = store.init()
      self._ = self.state

      // todo :: make this move into a mixin which takes in an array of all that is watched and updates self._ as needed (do minimal merging based on data needed) instead of assigning
      PubSub.subscribe('user_updated', (data) => {
        console.log(' update data >>> ',data)
        self['_'][data.module][data.key]=data.val
        self.update()
      })

      self.on('mount', function() {
        // riot.mount('*')
        let domain = self.opts.domain
        let page = self.opts.page

        // debugger;
        if(domain && page){
          for(let idx in events[page]){
            let event_json = events[page][idx]
            let handler = event_json.handler
            
            self.root.querySelector(event_json.selector).addEventListener(event_json.event, handlers[page][handler].bind(self._,event_json.passedValues, store, (err,result) => {
              self.update()
              console.log('HEADER :: err -> ',err, ' result-> ',self._)
            }))
          }
        }
      })
    </script>
</header>