'use strict'

import riot from 'riot'

import handlers from '../event-manager/handlers'
import events from '../event-manager/events'
import store from '../event-manager/store'

<login>
    <div class="section" style="margin-left:20%;padding-top:5%;width: 30%;vertical-align: middle;">
      <section id="messageSection" style="margin-left:2%;background-color:yellow;">Auth status is {_.user.authStatus}</section>
      <input type="text" id="userid" placeholder="User Id" value="{_.userId}">
      <input id="password" type="password" placeholder="Password" value="{_.userPassword}" >  
      <button id="submitLogin">Login</button>
      <button id="resetLogin">Reset</button>
    </div>
    <script>
      let self = this
      self.state = store.init()
      self._ = self.state

      self.on('mount', function() {
        // riot.mount('*')
        let domain = self.opts.domain
        let page = self.opts.page

        // debugger;
        if(domain && page){
          for(let idx in events[page]){
            let event_json = events[page][idx]
            let handler = event_json.handler
            
            self.root.querySelector(event_json.selector).addEventListener(event_json.event, handlers[page][handler].bind(self._,event_json.passedValues, store,(err,result) => {
              self.update()
              console.log('err -> ',err, ' result-> ',self._)
            }))
          }
        }
      })
    </script>
</login>