import riot from 'riot'
import state from '../js/state/app'
<main>
  
  <article>
    <h1>{ title }</h1>
    <h2>{app.home_message}</h2>
    <p>{ body }</p>
    <div>
      <button id="clicker" onclick={changeData}>Update</button>
    </div> 
  </article>
  <section>
    <div each={d in items}>
      <span if={d.id}>
       <span onclick="{d.id}">Fruit is {d.title} & {d.body}</span>
      </span>
    </div>
  </section>

  <script src='client/js/state/main.js' type="es6"></script>

  <style scoped>
    :scope {
      display: block;
      font-family: sans-serif;
      margin-right: 0;
      margin-bottom: 130px;
      margin-left: 50px;
      padding: 1em;
      text-align: center;
      color: #666;
    }
    ul {
      padding: 10px;
      list-style: none;
    }
    li {
      display: inline-block;
      margin: 5px;
    }
    a {
      display: block;
      background: #f7f7f7;
      text-decoration: none;
      width: 150px;
      height: 150px;
      line-height: 150px;
      color: inherit;
    }
    a:hover {
      background: #eee;
      color: #000;
    }
    @media (min-width: 480px) {
      :scope {
        margin-right: 200px;
        margin-bottom: 0;
      }
    }
  </style>

</main>