'use strict'

import riot from 'riot'

import handlers from '../event-manager/handlers'
import events from '../event-manager/events'
import store from '../event-manager/store'

<sidenav>
    <div class="section side-nav fixed" style="background-color: #ee6e73;"> 
      <section id="messageSection" style="">
         <ul style="margin: 2%">
            <a href="#"><li>Link 1</li> </a>
            <a href="#"><li>Link 1</li> </a>
            <a href="#"><li>Link 1</li> </a>
            <a href="#"><li>Link 1</li> </a>
          </ul>
      </section>
    </div>
    <script>
      let self = this
      self.state = store.init()
      self._ = self.state

      self.on('mount', function() {
        // riot.mount('*')
        let domain = self.opts.domain
        let page = self.opts.page

        // debugger;
        if(domain && page){
          for(let idx in events[page]){
            let event_json = events[page][idx]
            let handler = event_json.handler
            
            self.root.querySelector(event_json.selector).addEventListener(event_json.event,handlers[page][handler].bind(self._,event_json.passedValues,store,  (err,result) => {
              self.update()
              console.log('err -> ',err, ' result-> ',self._)
            }))
          }
        }
      })
    </script>
</sidenav>