<!--1st change -->
<!doctype html>
<html>

<head>
    <title>Welcome</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src='{{AUTH_SERVER_ADDRESS}}/init' defer></script>
</head>

<body class="parallax-demo">
    <div id="superapp" style="margin: 0;padding: 0;padding-bottom: 20;">
        <div id="headertag"></div>
        <!-- APP LOADS HERE -->
        <div id="app" style="margin: 0;padding: 0;padding-bottom: 20;">
        </div>
        <div id="footertag"></div>
    </div>
    <!-- <script src="/assets/main.js"></script> -->
    <script src="{{STATIC_RESOURCES_SERVER_ADDRESS}}/main.js"></script>
</body>

</html>
