* {
  font-family: Georgia;
}

.activeLi {
  background-color: 'cyan';
  /*color: 'red';*/
  font-style: italic;
  /*border: 2px solid red;*/
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

*,
*:before,
*:after {
  font-family: Georgia;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

div.bordered {
  margin: 0 auto;
  margin-top: 100px;
  width: 600px;
  padding: 20px;
  text-align: center;
  border: 10px solid #ddd;
  -webkit-border-radius: 20px;
}

#error {
  background-color: #BA0000;
  color: #fff;
  font-weight: bold;
}

#ask {
  font-size: 20pt;
}

#ask input {
  font-size: 20pt;
  padding: 10px;
  margin: 0 10px;
}

#ask span.join {
  padding: 10px;
  background-color: #ddd;
  -webkit-border-radius: 10px;
}

#channel {
  margin-top: 100px;
  height: 500px;
  position: relative;
}

#channel div#descr {
  position: absolute;
  left: -10px;
  top: -190px;
  font-size: 13px;
  text-align: left;
  line-height: 20px;
  padding: 5px;
  width: 630px;
}

div#msgs {
  overflow-y: scroll;
  height: 400px;
}

div#msgs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

div#msgs li {
  line-height: 20px;
}

div#msgs li span.user {
  color: #ff9900;
}

div#msgs li span.user.self {
  color: #aa2211;
}

div#msgs li span.time {
  float: right;
  margin-right: 5px;
  color: #aaa;
  font-family: "Courier New";
  font-size: 12px;
}

div#msgs li.control {
  text-align: center;
}

div#msgs li.control span.message {
  color: #aaa;
}

div#input {
  text-align: left;
  margin-top: 20px;
}

div#input #message {
  width: 600px;
  border: 5px solid #bbb;
  -webkit-border-radius: 3px;
  font-size: 30pt;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  /*padding: 40px 0;*/
  color: rgb(158, 158, 158);
  line-height: 1;
  ;
}

.container {
  margin: 0 auto;
  border-radius: 5px;
}

.people-list {
  margin: 2%;
  background: #444753;
  width: 20%;
  float: left;
  position: fixed;
}

.people-list .search {
  padding: 20px;
}

.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  /*width: 90%;*/
  font-size: 14px;
}

.people-list .fa-search {
  position: relative;
  left: -25px;
}

.people-list ul {
  padding: 3%;
}

.people-list ul li {
  padding-bottom: 20px;
}

.people-list img {
  float: left;
}

.people-list .about {
  float: left;
  margin-top: 8px;
}

.people-list .about {
  padding-left: 8px;
}

.people-list .status {
  color: #92959E;
}

.chat {
  /*margin-top: 35px;*/
  height: 65%;
  min-height: 90%;
  /*margin-left: 25%;
  margin-right: 2%;*/
  /*background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;*/
}

.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}

.chat .chat-header img {
  float: left;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-header .chat-num-messages {
  color: #92959E;
}

.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
  height: 100%;
}

.chat .chat-history {
  width: 90%;
  height: 100%;
  padding: 10px 0px 0px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  margin-left: 5%;
  overflow-x: hidden;
  /*margin-left: 5%;*/
}

.chat .chat-history .message-data {
  margin-top: 25%;
  /*margin-left: 25%;*/
}

.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
  /*margin-left: 25%;*/
}

.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
  /*margin-left: 25%;*/
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  background: #94C2ED;
  width: 75%;
  float: left;
  margin-top: 2%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.old-message {
  background: 'gray';
}

.chat .chat-history .other-message {
  background: #86BB71;
  width: 75%;
  float: right;
  margin-top: 2%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 0px;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 98%;
}

.chat .chat-message {
  margin-top: 12%;
}

.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}

.chat .chat-message button:hover {
  color: #75b1e8;
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: #FFF;
}

nav a {
  color: 'black';
}

footer {
  background-color: #FFF;
}

footer a {
  color: 'black';
}

footer.page-footer {
  background-color: #FFF;
}

footer div.row .page-footer a {
  color: red;
}

.footer-copyright {
  background-color: #FFF;
}
