import riot from 'riot'
import './riotgram-app.html'
import '../common/serve-auth.html'
import StoreWatcher from '../../../event-manager/mixins/storex' 
import RouterX from '../../../event-manager/mixins/routerx' 

<riotgram-container>

  <serve-auth class='__container' secured='true' secured-key='loggedin' secured-val='true' domain='user' page='riotgram'>
    <riotgram-app></riotgram-app>
  </serve-auth>

  <style>
    body { margin: 0 }
  </style>

  <script>
    let self = this
    // for validations
    //  - add a validationform
    //  - add a validate function in the handlers['<tag-name>'] section to set result
    //                into state.<store>.<validationform>.validated property
    self.stores = ['user'] // stores to watch
    self.validationform = [] // validation form . this will have validated field

    self.mixin(StoreWatcher)
    self.mixin(RouterX)
  </script>
</riotgram-container>
