import riot from 'riot'
<riotgram-app>
  <section id='content-area'>
    <p>Riotgram :: Flickr + RIOT</p> 
    <input type="text" placeholder="Search ..." onkeyup={searchMe} value="Life">
    <section each={pic in pics}>
      <img src="{pic.url_s_cdn}">
    </section>
  </section>

  <script>
    var self = this
    

    searchMe(e){
      if (e.keyCode == 13) {
        let trend = e.target.value || 'life'

        if(trend){
          // get pictures
          fetch('https://api.flickr.com/services/rest?sort=relevance&parse_tags=1&content_type=7&extras=can_comment%2Ccount_comments%2Ccount_faves%2Cdescription%2Cisfavorite%2Clicense%2Cmedia%2Cneeds_interstitial%2Cowner_name%2Cpath_alias%2Crealname%2Crotation%2Curl_c%2Curl_l%2Curl_m%2Curl_n%2Curl_q%2Curl_s%2Curl_sq%2Curl_t%2Curl_z%2Cis_marketplace_licensable&per_page=100&page=3&lang=en-US&text='+trend+'&license=2%2C3%2C4%2C5%2C6%2C9&viewerNSID=&method=flickr.photos.search&csrf=&api_key=a6fb36ca2fb34ee1a399654e6272b023&format=json&hermes=1&hermesClient=1&reqId=94ec93a6&nojsoncallback=1').then((data) => {
            // handle response
            data.json().then((jsonData) => {
              self.pics = jsonData.photos.photo
              self.update()
            })
          }).catch((err) => {
            // handle error
            debugger;
          })
        }
      }
    }


  </script>

  <style scoped>
    :scope {
      display: block;
      font-family: sans-serif;
      margin-right: 0;
      margin-bottom: 130px;
      margin-left: 50px;
      padding: 1em;
      text-align: center;
      color: #666;
    }
    ul {
      padding: 10px;
      list-style: none;
    }
    li {
      display: inline-block;
      margin: 5px;
    }
    a {
      display: block;
      background: #f7f7f7;
      text-decoration: none;
      width: 150px;
      height: 150px;
      line-height: 150px;
      color: inherit;
    }
    a:hover {
      background: #eee;
      color: #000;
    }
    @media (min-width: 480px) {
      :scope {
        margin-right: 200px;
        margin-bottom: 0;
      }
    }
  </style>

</riotgram-app>