import riot from 'riot'
import Fyler from '../js/Fyler'

<helloapp>
  <section>
    	
		<div>
			<p>request JSON is</p>
			<p>{request}</p>
		</div>
		<div>
			<p>response is</p>
			<p>{response}</p>
		</div>	
		<div>
			<p>Error is </p>
			<p>{err}</p>
		</div>	
  </section>
  <script>
    let self = this;
    let original_json = {"my_name": "saurshaz"}

    var requestjson = {
      "config": {
        "how": "sync",
        "where": "server",
        "lookat": "context"
      },
      "commands": [ {
        "what": "utils",
        "handler": "echo",
        "input": original_json
      } ]
    }
    self.request = JSON.stringify(requestjson)
    Fyler.run(requestjson, function (err,res) {
    	self.response = (typeof res != 'string') ? JSON.stringify(res) : res
    	self.err = (typeof err != 'string') ? JSON.stringify(err)  : err 
    	self.update()
    })
  </script>
</helloapp>
