import riot from 'riot'
import moment from 'momentjs'
import EVT from '../../state-manager/event_constants' 

<login>
    <link href="http://materializecss.com/css/prism.css" rel="stylesheet">
    <link href="http://materializecss.com/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--  Parallax Section  -->
  <div class="section" style="padding:5%;width: 30%;vertical-align: middle;">
    <section id="messageSection">Auth status is {_.authStatus}</section>
    <input type="text" id="userid" placeholder="User Id" value={_.userId}>
    <input id="password" type="password" placeholder="Password" value={_.userPassword} >  
    <button id="submitLogin">Login</button>
    <button id="resetLogin">Reset</button>
  </div>
  <script>
    let self = this;
    self.global = self.global || {}
    self.global.state = {me:'saurshaz'}
    self._ = self.global.state


    let filterData = (passedValues) => {
      let passData = {}
        for(let i in passedValues){
          if(passedValues[i]['type'] === 'dom'){
            passData[passedValues[i]['key']] = self.root.querySelector(passedValues[i]['selector'])['value']   
          }
        }
      return passData
    }

    let events_array = {
                          login:[
                                  {
                                    selector:'button#submitLogin',
                                    event:'click',
                                    signal:'',
                                    handler:'user.handleLogin',
                                    state:self._,
                                    passedValues:[{
                                      type: 'dom',
                                      key : 'userId',
                                      selector : 'input#userid',
                                    },{
                                      type: 'dom',
                                      key : 'userPassword',
                                      selector : 'input#password',
                                    }]
                                  },
                                  {
                                    selector:'button#resetLogin',
                                    event:'click',
                                    signal:'',
                                    handler:'user.handleResetLogin',
                                    state:self._,
                                    passedValues:[]
                                  }
                                ]
                        }   


    // TODO :: HANDLER OBJECT
    self.handlers = {}
    self.handlers.user = {}
    self.handlers.user.handleLogin = function (data,cb,event) {
      data = filterData(data)
      console.log(this)
      if(data.userId === 'saurshaz' && data.userPassword === 'password'){
        this.userId === '' 
        this.userPassword === ''
        this.authStatus = true
        this.me = data.userId
      }else{
        this.authStatus = false
      }

      this.authStatus = this.authStatus ? 'logged In' : ' Logged Out'
      cb(null,this)
    }

    self.handlers.user.handleResetLogin = function (data,cb,event) {
      data = filterData(data)
      console.log(this)
      this.userId === '' 
      this.userPassword === ''
      this.authStatus = false
      this.authStatus = this.authStatus ? 'logged In' : ' Logged Out'
      cb(null,this)
    }


    // setTimeout(function() {
    //   // riot.control.trigger(EVT.INIT_CHAT_CONTAINER, {'a':'b'});
    // }, 2500);
    self.on('mount', function() {
      // TODO :: TAKE THIS TO A CENTRAL PLACE (CONFIG THIS IS)
      
      // riot.mount('*')
      for(let idx in events_array['login']){
        let event_json = events_array['login'][idx]
        let handler = event_json.handler.split('.')[1]
        let handlerObj = event_json.handler.split('.')[0]
        // debugger;
        self.root.querySelector(event_json.selector).addEventListener(event_json.event, self.handlers[handlerObj][handler].bind(self._,event_json.passedValues, (err,result) => {
          console.log('err -> ',err, ' result-> ',self._)
          self.update()
        }))
      }
      self.update()
    })
  </script>
</login>
