'use strict'

import riot from 'riot'
import StoreWatcher from '../../event-manager/mixins/storex'
<login>
    <div class="section" style="margin-left:20%;padding-top:5%;width: 30%;vertical-align: middle;">
      <section id="messageSection" style="margin-left:2%;background-color:yellow;">Auth status is {_.user.authStatus}</section>
      <input type="text" id="userid" placeholder="User Id" value="{_.userId}">
      <input id="password" type="password" placeholder="Password" value="{_.userPassword}" >
      <!-- todo :: use case repeat password use case -->
      <button id="submitLogin">Login</button>
      <button id="resetLogin">Reset</button>
    </div>
    <script>
      let self = this
      self.stores = ['user']
      self.mixin(StoreWatcher)
    </script>
</login>