import riot from 'riot'
import moment from 'momentjs'
import EVT from '../../state-manager/event_constants' 

import handlers from '../../state-manager/handlers'
import events from '../../state-manager/events'

<login>
    <link href="http://materializecss.com/css/prism.css" rel="stylesheet">
    <link href="http://materializecss.com/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--  Parallax Section  -->
  <div class="section" style="padding:5%;width: 30%;vertical-align: middle;">
    <section id="messageSection">Auth status is {_.authStatus}</section>
    <input type="text" id="userid" placeholder="User Id" value="{_.userId}">
    <input id="password" type="password" placeholder="Password" value="{_.userPassword}" >  
    <button id="submitLogin">Login</button>
    <button id="resetLogin">Reset</button>
  </div>
  <script>
    let self = this;
    self.global = self.global || {}
    self.global.state = {me:'saurshaz',userId:'',userPassword:''}
    self._ = self.global.state


    self.on('mount', function() {
      // riot.mount('*')
      let domain = self.opts.domain
      let page = self.opts.page

      // debugger;

      if(domain && page){
        for(let idx in events[page]){
          let event_json = events[page][idx]
          let handler = event_json.handler
          
          self.root.querySelector(event_json.selector).addEventListener(event_json.event, handlers[page][handler].bind(self._,event_json.passedValues, (err,result) => {
            self.update()
            console.log('err -> ',err, ' result-> ',self._)
          }))
        }
      }

    })
  </script>
</login>