import riot from 'riot'
import EVT from '../../event-manager/event_constants' 



<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://materializecss.com/bin/materialize.js"></script>
<testapp>
    <link href="http://materializecss.com/css/prism.css" rel="stylesheet">
    <link href="http://materializecss.com/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <section>
    <div class="section white" id="container-app" style="margin: 0;padding: 0;padding-bottom: 20;">
      <div class="" data-reactid=".0">
        <div class="row" style="padding-bottom:1%;height:500px" data-reactid=".0.0">
          <div  id="pane1" class="col m4 s12" style="position:fixed;height:100% ;overflow-x:hidden;overflow-y:scroll;border-right:1px solid;;padding:0;">
          <p>Pane 1</p>
          </div>
          <div  id="pane2" class="col m5 s12" style="position:relative;margin-left:32.5%;">
            <p>Pane 2</p>
          </div>
          <div  id="pane3"  class="col m3 s12" id="membersListApp" style="position:fixed;margin-left:73%;overflow-y:scroll;">
            <p>Pane 3</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    let self = this;
    setTimeout(function() { 
      riot.control.trigger(EVT.INIT_CHAT_CONTAINER, {"a":"b"});
    }, 2500);

    self.on('mount',function() {
      // TODO :: RM THE HARDCODING, MOVE TO A CONFIG FILE
      if(location.pathname==="/home" && location.hash.startsWith("#testapp") && ((location.hash.search('cid=') !== -1 &&location.hash.search('p=') !== -1))){
        let hashQsArr = location.hash.split("?")
        if(hashQsArr.length > 0){
          let hashParams = hashQsArr[1]
          // location.hash.split("?")[1].split('&')
          let hashParamsKeyValArr = hashParams.split('&')
          let isCid,isPane = false
          let [neededDataObject,extraDataObject] = [{},{}]
          for(let i=0;i<hashParamsKeyValArr.length;i++){
            let keyValSplitArr = hashParamsKeyValArr[i].split('=')
            let [key,val] = [keyValSplitArr[0],keyValSplitArr[1]]
            switch(key){
              case 'cid':
                neededDataObject[key]=val
                break
              case 'p':
                neededDataObject[key]=val
                break
              default:
                extraDataObject[key]=val
            }
          }

          if(neededDataObject.cid && neededDataObject.p){
            // pane and component id both specified
            var mytag = require('./'+neededDataObject.cid+'.tag')
            var tags =riot.mount('#'+neededDataObject.p, neededDataObject.cid)
            // riot.render(mytag, extraDataObject)
            //self.tick = function () {
            //  self.update({ time: 1000 })
            //}
          }else{
            console.log('missing data, do nothing')
          }
        }

      }else{
        console.log('missing data, do nothing')
      }

      
    })
  </script>
</testapp>
