import riot from 'riot'
import './riot-app-main.html'
import './riot-app-navi.html'
import './riot-app-help.html'
import StoreWatcher from '../../../event-manager/mixins/storex' 

<riot-app-test>
  <riot-app-main></riot-app-main>
  <riot-app-navi></riot-app-navi>
  <riot-app-help></riot-app-help>

  <style>
    body { margin: 0 }
  </style>

  <script>
  	let self = this
    // for validations
    //  - add a validationform
    //  - add a validate function in the handlers['<tag-name>'] section to set result
    //                into state.<store>.<validationform>.validated property
    self.stores = ['fyler'] // stores to watch
    self.validationform = [] // validation form . this will have validated field

    let mixin = self.mixin(StoreWatcher)

  	self._.navTo = function (targetUri) {
      if (targetUri.indexOf('target') !== -1) {
        let extraParams = {domain: '', page: '', view: '', target: '', fragment: ''}
        var replaced = targetUri.slice(1)
        var arr = replaced.split('&')
        for (var i = arr.length - 1; i >= 0; i--) {
          if (arr[i].split('=') && arr[i].split('=').length === 2) {
            var keyValArr = arr[i].split('=')
            extraParams[keyValArr[0]] = keyValArr[1] || ''
          }
        }
        let options = {
          domain: extraParams.domain,
          page: extraParams.page
        }
        require('./' + extraParams.fragment + '.html')
        riot.mount(extraParams.target, extraParams.fragment, options)
      } else {
        document.location.href = targetUri
      }
    } 
  </script>
</riot-app-test>
